# {{ ansible_managed }}

# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204573
-a always,exit -F arch=b32 -S unlinkat -F auid>=1000 -F auid!=unset -k delete
-a always,exit -F arch=b64 -S unlinkat -F auid>=1000 -F auid!=unset -k delete
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204572
-a always,exit -F arch=b32 -S unlink -F auid>=1000 -F auid!=unset -k delete
-a always,exit -F arch=b64 -S unlink -F auid>=1000 -F auid!=unset -k delete
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204571
-a always,exit -F arch=b32 -S rmdir -F auid>=1000 -F auid!=unset -k delete
-a always,exit -F arch=b64 -S rmdir -F auid>=1000 -F auid!=unset -k delete
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204570
-a always,exit -F arch=b32 -S renameat -F auid>=1000 -F auid!=unset -k delete
-a always,exit -F arch=b64 -S renameat -F auid>=1000 -F auid!=unset -k delete
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204569
-a always,exit -F arch=b32 -S rename -F auid>=1000 -F auid!=unset -k delete
-a always,exit -F arch=b64 -S rename -F auid>=1000 -F auid!=unset -k delete
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204568
-w /etc/security/opasswd -p wa -k identity
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204567
-w /etc/shadow -p wa -k identity
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204566
-w /etc/gshadow -p wa -k identity
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204565
-w /etc/group -p wa -k identity
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204564
-w /etc/passwd -p wa -k identity
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204562
-a always,exit -F arch=b32 -S delete_module -k module-change
-a always,exit -F arch=b64 -S delete_module -k module-change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204560
-a always,exit -F arch=b32 -S init_module -k module-change
-a always,exit -F arch=b64 -S init_module -k module-change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204558
-a always,exit -F path=/usr/sbin/pam_timestamp_check -F auid>=1000 -F auid!=unset -k privileged-pam
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204557
-a always,exit -F path=/usr/bin/crontab -F auid>=1000 -F auid!=unset -k privileged-cron
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204556
-a always,exit -F path=/usr/libexec/openssh/ssh-keysign -F auid>=1000 -F auid!=unset -k privileged-ssh
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204555
-a always,exit -F path=/usr/sbin/postqueue -F auid>=1000 -F auid!=unset -k privileged-postfix
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204554
-a always,exit -F path=/usr/sbin/postdrop -F auid>=1000 -F auid!=unset -k privileged-postfix
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204553
-a always,exit -F path=/usr/bin/umount -F auid>=1000 -F auid!=unset -k privileged-mount
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204551
-a always,exit -F path=/usr/bin/chsh -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204550
-a always,exit -F path=/usr/bin/newgrp -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204549
-w /etc/sudoers -p wa -k privileged-actions
-w /etc/sudoers.d/ -p wa -k privileged-actions
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204548
-a always,exit -F path=/usr/bin/sudo -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204547
-a always,exit -F path=/usr/bin/su -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204546
-a always,exit -F path=/usr/sbin/userhelper -F auid>=1000 -F auid!=unset -k privileged-passwd
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204545
-a always,exit -F path=/usr/bin/chage -F auid>=1000 -F auid!=unset -k privileged-passwd
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204544
-a always,exit -F path=/usr/bin/gpasswd -F auid>=1000 -F auid!=unset -k privileged-passwd
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204543
-a always,exit -F path=/usr/sbin/unix_chkpwd -F auid>=1000 -F auid!=unset -k privileged-passwd
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204542
-a always,exit -F path=/usr/bin/passwd -F auid>=1000 -F auid!=unset -k privileged-passwd
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204541
-w /var/log/lastlog -p wa -k logins
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204540
-w /var/run/faillock -p wa -k logins
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204539
-a always,exit -F path=/usr/sbin/setfiles -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204538
-a always,exit -F path=/usr/bin/chcon -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204537
-a always,exit -F path=/usr/sbin/setsebool -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204536
-a always,exit -F path=/usr/sbin/semanage -F auid>=1000 -F auid!=unset -k privileged-priv_change
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204535
-a always,exit -F arch=b32 -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b32 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204534
-a always,exit -F arch=b32 -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b32 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204533
-a always,exit -F arch=b32 -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b32 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204532
-a always,exit -F arch=b32 -S openat -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b32 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S openat -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204531
-a always,exit -F arch=b32 -S open -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b32 -S open -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S open -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S open -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204530
-a always,exit -F arch=b32 -S creat -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b32 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S creat -F exit=-EPERM -F auid>=1000 -F auid!=unset -k access
-a always,exit -F arch=b64 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=unset -k access
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204529
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204528
-a always,exit -F arch=b32 -S fremovexattr -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204527
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204526
-a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-09-03/finding/V-204525
-a always,exit -F arch=b32 -S fsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204524
-a always,exit -F arch=b32 -S setxattr -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204523
-a always,exit -F arch=b32 -S fchmodat -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204522
-a always,exit -F arch=b32 -S fchmod -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204521
-a always,exit -F arch=b32 -S chmod -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S chmod -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204520
-a always,exit -F arch=b32 -S fchownat -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204519
-a always,exit -F arch=b32 -S lchown -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204518
-a always,exit -F arch=b32 -S fchown -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=unset -k perm_mod
# https://www.stigviewer.com/stig/red_hat_enterprise_linux_7/2020-12-08/finding/V-204517
-a always,exit -F arch=b32 -S chown -F auid>=1000 -F auid!=unset -k perm_mod
-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=unset -k perm_mod
